Sources/BusWatcher/Secrets.swift
Sources/BusWatcher/Info.plist
Sources/BusWatcherWidgets/Info.plist
BusWatcher.entitlements
BusWatcherWidgets.entitlements
.DS_Store
.build/
*.xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
BusWatcher.xcodeproj/
build/
data/
.swiftpm/
